.signup {
  padding-top: 7%;
}

.title {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.loading {
  position: absolute;
  top: 42%;
  left: 48%;
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 30%;
}
