body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212529;
}


:root, [data-bs-theme="dark"]{
    --bd-violet: #9461fb;
    --bs-primary-rgb: 	113, 44, 249;
    --bd-toc-color: var(--bs-emphasis-color);
    --bd-sidebar-link-bg: rgba(84,33,187, .5);
    --bd-callout-link: 110,168,254;
    --bd-callout-code-color: #e685b5;
    --bs-primary: var(--bd-violet);
    --bd-pre-bg: #1b1f22;
}

[data-bs-theme="dark"] .bd-navbar {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
}

:root {
  --docsearch-primary-color: var(--bd-violet);
  --docsearch-logo-color: var(--bd-violet)
}